body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: orange;
}

h1 {
    text-align: center;
    font-size: 50px;
}

h2 {
    text-align: center;
}

footer {
    padding: 15px;
    background-color: rgb(255, 193, 78);
}

a {
    font-size: 25px;
}

p {
    font-size: 25px;
}

footer a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    background-color: orangered;
    margin: 20px;
    padding: 20px;
    border-radius: 31px;
    color: aliceblue;
}
